@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@400;500;700&family=Inter:ital,wght@0,400;0,600;0,800;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Lora", Georgia, serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
